In [39]:
import pandas as pd
import requests
import numpy as np
from bs4 import BeautifulSoup

In [2]:
movies = pd.read_csv('data/movies.csv')
names = pd.read_csv('data/names.csv')
ratings = pd.read_csv('data/ratings.csv')
princ = pd.read_csv('data/title_principals.csv')

E:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
movies.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [4]:
names.head()

,imdb_name_id,name,birth_name,height,bio,birth_details,date_of_birth,place_of_birth,death_details,date_of_death,place_of_death,reason_of_death,spouses_string,spouses,divorces,spouses_with_children,children
0,nm0000001,Fred Astaire,Frederic Austerlitz Jr.,177.0,"Fred Astaire was born in Omaha, Nebraska, to J...","May 10, 1899 in Omaha, Nebraska, USA",1899-05-10,"Omaha, Nebraska, USA","June 22, 1987 in Los Angeles, California, USA ...",1987-06-22,"Los Angeles, California, USA",pneumonia,Robyn Smith (27 June 1980 - 22 June 1987) (hi...,2,0,1,2
1,nm0000002,Lauren Bacall,Betty Joan Perske,174.0,Lauren Bacall was born Betty Joan Perske on Se...,"September 16, 1924 in The Bronx, New York City...",1924-09-16,"The Bronx, New York City, New York, USA","August 12, 2014 in New York City, New York, US...",2014-08-12,"New York City, New York, USA",stroke,Jason Robards (4 July 1961 - 10 September 196...,2,1,2,3
2,nm0000003,Brigitte Bardot,Brigitte Bardot,166.0,"Brigitte Bardot was born on September 28, 1934...","September 28, 1934 in Paris, France",1934-09-28,"Paris, France",NaN,NaN,NaN,NaN,Bernard d'Ormale (16 August 1992 - present)\n...,4,3,1,1
3,nm0000004,John Belushi,John Adam Belushi,170.0,"John Belushi was born in Chicago, Illinois, US...","January 24, 1949 in Chicago, Illinois, USA",1949-01-24,"Chicago, Illinois, USA","March 5, 1982 in Hollywood, Los Angeles, Calif...",1982-03-05,"Hollywood, Los Angeles, California, USA",acute cocaine and heroin intoxication,Judith Belushi-Pisano (31 December 1976 - 5 M...,1,0,0,0
4,nm0000005,Ingmar Bergman,Ernst Ingmar Bergman,179.0,"Ernst Ingmar Bergman was born July 14, 1918, t...","July 14, 1918 in Uppsala, Uppsala län, Sweden",1918-07-14,"Uppsala, Uppsala län, Sweden","July 30, 2007 in Fårö, Gotlands län, Sweden (...",2007-07-30,"Fårö, Gotlands län, Sweden",natural causes,Ingrid Bergman (11 November 1971 - 20 May 199...,5,4,5,8

In [5]:
ratings.head()

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

In [6]:
princ.head()

,imdb_title_id,ordering,imdb_name_id,category,job,characters
0,tt0000009,1,nm0063086,actress,NaN,"[""Miss Geraldine Holbrook (Miss Jerry)""]"
1,tt0000009,2,nm0183823,actor,NaN,"[""Mr. Hamilton""]"
2,tt0000009,3,nm1309758,actor,NaN,"[""Chauncey Depew - the Director of the New Yor..."
3,tt0000009,4,nm0085156,director,NaN,NaN
4,tt0000574,1,nm0846887,actress,NaN,"[""Kate Kelly""]"

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85855 non-null  object
 1   title                  85855 non-null  object
 2   original_title         85855 non-null  object
 3   year                   85855 non-null  object
 4   date_published         85855 non-null  object
 5   genre                  85855 non-null  object
 6   duration               85855 non-null  int64
 7   country                85791 non-null  object
 8   language               85022 non-null  object
 9   director               85768 non-null  object
 10  writer                 84283 non-null  object
 11  production_company     81400 non-null  object
 12  actors                 85786 non-null  object
 13  description            83740 non-null  object
 14  avg_vote               85855 non-null  float64
 15  votes                  85855 non-null  int64
 16  budget                 23710 non-null  object
 17  usa_gross_income       15326 non-null  object
 18  worlwide_gross_income  31016 non-null  object
 19  metascore              13305 non-null  float64
 20  reviews_from_users     78258 non-null  float64
 21  reviews_from_critics   74058 non-null  float64
dtypes: float64(4), int64(2), object(16)
memory usage: 14.4+ MB

In [8]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 49 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   imdb_title_id              85855 non-null  object
 1   weighted_average_vote      85855 non-null  float64
 2   total_votes                85855 non-null  int64
 3   mean_vote                  85855 non-null  float64
 4   median_vote                85855 non-null  float64
 5   votes_10                   85855 non-null  int64
 6   votes_9                    85855 non-null  int64
 7   votes_8                    85855 non-null  int64
 8   votes_7                    85855 non-null  int64
 9   votes_6                    85855 non-null  int64
 10  votes_5                    85855 non-null  int64
 11  votes_4                    85855 non-null  int64
 12  votes_3                    85855 non-null  int64
 13  votes_2                    85855 non-null  int64
 14  votes_1                    85855 non-null  int64
 15  allgenders_0age_avg_vote   33359 non-null  float64
 16  allgenders_0age_votes      33359 non-null  float64
 17  allgenders_18age_avg_vote  85149 non-null  float64
 18  allgenders_18age_votes     85149 non-null  float64
 19  allgenders_30age_avg_vote  85845 non-null  float64
 20  allgenders_30age_votes     85845 non-null  float64
 21  allgenders_45age_avg_vote  85775 non-null  float64
 22  allgenders_45age_votes     85775 non-null  float64
 23  males_allages_avg_vote     85854 non-null  float64
 24  males_allages_votes        85854 non-null  float64
 25  males_0age_avg_vote        27411 non-null  float64
 26  males_0age_votes           27411 non-null  float64
 27  males_18age_avg_vote       84390 non-null  float64
 28  males_18age_votes          84390 non-null  float64
 29  males_30age_avg_vote       85843 non-null  float64
 30  males_30age_votes          85843 non-null  float64
 31  males_45age_avg_vote       85754 non-null  float64
 32  males_45age_votes          85754 non-null  float64
 33  females_allages_avg_vote   85774 non-null  float64
 34  females_allages_votes      85774 non-null  float64
 35  females_0age_avg_vote      22117 non-null  float64
 36  females_0age_votes         22117 non-null  float64
 37  females_18age_avg_vote     79334 non-null  float64
 38  females_18age_votes        79334 non-null  float64
 39  females_30age_avg_vote     84911 non-null  float64
 40  females_30age_votes        84911 non-null  float64
 41  females_45age_avg_vote     83057 non-null  float64
 42  females_45age_votes        83057 non-null  float64
 43  top1000_voters_rating      85176 non-null  float64
 44  top1000_voters_votes       85176 non-null  float64
 45  us_voters_rating           85646 non-null  float64
 46  us_voters_votes            85646 non-null  float64
 47  non_us_voters_rating       85854 non-null  float64
 48  non_us_voters_votes        85854 non-null  float64
dtypes: float64(37), int64(11), object(1)
memory usage: 32.1+ MB

In [9]:
df = pd.concat([movies, ratings], axis = 1)

In [10]:
df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,5.7,11.0,5.0,2.0,5.5,12.0,6.3,22.0,5.3,214.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,8.0,47.0,7.3,30.0,7.0,6.0,6.8,13.0,7.7,388.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,2.0,2.0
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,NaN,NaN,7.0,1.0,4.0,3.0,1.7,5.0,5.8,5.0
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,6.8,4.0,7.5,4.0,7.0,4.0,6.7,13.0,6.7,60.0

In [11]:
df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics', 'imdb_title_id',
       'weighted_average_vote', 'total_votes', 'mean_vote', 'median_vote',
       'votes_10', 'votes_9', 'votes_8', 'votes_7', 'votes_6', 'votes_5',
       'votes_4', 'votes_3', 'votes_2', 'votes_1', 'allgenders_0age_avg_vote',
       'allgenders_0age_votes', 'allgenders_18age_avg_vote',
       'allgenders_18age_votes', 'allgenders_30age_avg_vote',
       'allgenders_30age_votes', 'allgenders_45age_avg_vote',
       'allgenders_45age_votes', 'males_allages_avg_vote',
       'males_allages_votes', 'males_0age_avg_vote', 'males_0age_votes',
       'males_18age_avg_vote', 'males_18age_votes', 'males_30age_avg_vote',
       'males_30age_votes', 'males_45age_avg_vote', 'males_45age_votes',
       'females_allages_avg_vote', 'females_allages_votes',
       'females_0age_avg_vote', 'females_0age_votes', 'females_18age_avg_vote',
       'females_18age_votes', 'females_30age_avg_vote', 'females_30age_votes',
       'females_45age_avg_vote', 'females_45age_votes',
       'top1000_voters_rating', 'top1000_voters_votes', 'us_voters_rating',
       'us_voters_votes', 'non_us_voters_rating', 'non_us_voters_votes'],
      dtype='object')

In [12]:
features = ['imdb_title_id', 'title', 'year', 'genre', 'duration', 'country', 'language', 'director', 'writer',
            'actors', 'description', 'weighted_average_vote', 'mean_vote', 'reviews_from_users', 
            'reviews_from_critics', 'females_allages_avg_vote', 'males_allages_avg_vote']

In [13]:
ddf = df[features]

In [14]:
ddf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   imdb_title_id             85855 non-null  object
 1   imdb_title_id             85855 non-null  object
 2   title                     85855 non-null  object
 3   year                      85855 non-null  object
 4   genre                     85855 non-null  object
 5   duration                  85855 non-null  int64
 6   country                   85791 non-null  object
 7   language                  85022 non-null  object
 8   director                  85768 non-null  object
 9   writer                    84283 non-null  object
 10  actors                    85786 non-null  object
 11  description               83740 non-null  object
 12  weighted_average_vote     85855 non-null  float64
 13  mean_vote                 85855 non-null  float64
 14  reviews_from_users        78258 non-null  float64
 15  reviews_from_critics      74058 non-null  float64
 16  females_allages_avg_vote  85774 non-null  float64
 17  males_allages_avg_vote    85854 non-null  float64
dtypes: float64(6), int64(1), object(11)
memory usage: 11.8+ MB

In [15]:
ddf = ddf.loc[:,~ddf.columns.duplicated()]

In [16]:
ddf

,imdb_title_id,title,year,genre,duration,country,language,director,writer,actors,description,weighted_average_vote,mean_vote,reviews_from_users,reviews_from_critics,females_allages_avg_vote,males_allages_avg_vote
0,tt0000009,Miss Jerry,1894,Romance,45,USA,None,Alexander Black,Alexander Black,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,5.9,1.0,2.0,6.0,6.2
1,tt0000574,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,6.3,7.0,7.0,6.2,6.1
2,tt0001892,Den sorte drøm,1911,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini","Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,6.0,5.0,2.0,5.7,5.9
3,tt0002101,Cleopatra,1912,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,5.3,25.0,3.0,5.9,5.1
4,tt0002130,L'Inferno,1911,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,6.9,31.0,14.0,7.2,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,2020,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,"Alexandre Coquelle, Matthieu Le Naour","Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,5.5,NaN,4.0,6.0,5.3
85851,tt9911196,De Beentjes van Sint-Hildegard,2020,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,"Radek Bajgar, Herman Finkers","Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,7.9,6.0,4.0,7.6,7.8
85852,tt9911774,Padmavyuhathile Abhimanyu,2019,Drama,130,India,Malayalam,Vineesh Aaradya,"Vineesh Aaradya, Vineesh Aaradya","Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,7.8,NaN,NaN,NaN,6.0
85853,tt9914286,Sokagin Çocuklari,2019,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,"Ahmet Faik Akinci, Kasim Uçkan","Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,9.4,NaN,NaN,4.0,3.1
85854,tt9914942,La vida sense la Sara Amat,2019,Drama,74,Spain,Catalan,Laura Jou,"Coral Cruz, Pep Puig","Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,6.8,NaN,2.0,6.9,6.6

In [17]:
ddf.isnull().sum()

imdb_title_id                   0
title                           0
year                            0
genre                           0
duration                        0
country                        64
language                      833
director                       87
writer                       1572
actors                         69
description                  2115
weighted_average_vote           0
mean_vote                       0
reviews_from_users           7597
reviews_from_critics        11797
females_allages_avg_vote       81
males_allages_avg_vote          1
dtype: int64

In [24]:
ddf['reviews_from_critics'] = ddf['reviews_from_critics'].fillna('unavailable')
ddf['reviews_from_users'] = ddf['reviews_from_users'].fillna('unavailable')
ddf['writer'] = ddf['writer'].fillna('unavailable')
ddf['country'] = ddf['country'].fillna('unavailable')
ddf['language'] = ddf['language'].fillna('unavailable')
ddf['director'] = ddf['director'].fillna('unavailable')
ddf['actors'] = ddf['actors'].fillna('unavailable')
ddf['description'] = ddf['description'].fillna('unavailable')

In [25]:
ddf.isnull().sum()

imdb_title_id                0
title                        0
year                         0
genre                        0
duration                     0
country                      0
language                     0
director                     0
writer                       0
actors                       0
description                  0
weighted_average_vote        0
mean_vote                    0
reviews_from_users           0
reviews_from_critics         0
females_allages_avg_vote    81
males_allages_avg_vote       1
dtype: int64

In [26]:
ddf.dropna(inplace = True)

In [27]:
ddf.isnull().sum()

imdb_title_id               0
title                       0
year                        0
genre                       0
duration                    0
country                     0
language                    0
director                    0
writer                      0
actors                      0
description                 0
weighted_average_vote       0
mean_vote                   0
reviews_from_users          0
reviews_from_critics        0
females_allages_avg_vote    0
males_allages_avg_vote      0
dtype: int64

In [28]:
ddf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85773 entries, 0 to 85854
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   imdb_title_id             85773 non-null  object
 1   title                     85773 non-null  object
 2   year                      85773 non-null  object
 3   genre                     85773 non-null  object
 4   duration                  85773 non-null  int64
 5   country                   85773 non-null  object
 6   language                  85773 non-null  object
 7   director                  85773 non-null  object
 8   writer                    85773 non-null  object
 9   actors                    85773 non-null  object
 10  description               85773 non-null  object
 11  weighted_average_vote     85773 non-null  float64
 12  mean_vote                 85773 non-null  float64
 13  reviews_from_users        85773 non-null  object
 14  reviews_from_critics      85773 non-null  object
 15  females_allages_avg_vote  85773 non-null  float64
 16  males_allages_avg_vote    85773 non-null  float64
dtypes: float64(4), int64(1), object(12)
memory usage: 11.8+ MB

In [33]:
link = ['https://www.imdb.com/title/'] + ddf['imdb_title_id']

In [34]:
link

0        https://www.imdb.com/title/tt0000009
1        https://www.imdb.com/title/tt0000574
2        https://www.imdb.com/title/tt0001892
3        https://www.imdb.com/title/tt0002101
4        https://www.imdb.com/title/tt0002130
                         ...
85849    https://www.imdb.com/title/tt9906644
85850    https://www.imdb.com/title/tt9908390
85851    https://www.imdb.com/title/tt9911196
85853    https://www.imdb.com/title/tt9914286
85854    https://www.imdb.com/title/tt9914942
Name: imdb_title_id, Length: 85773, dtype: object

In [35]:
ddf['link'] = link

In [36]:
ddf

,imdb_title_id,title,year,genre,duration,country,language,director,writer,actors,description,weighted_average_vote,mean_vote,reviews_from_users,reviews_from_critics,females_allages_avg_vote,males_allages_avg_vote,link
0,tt0000009,Miss Jerry,1894,Romance,45,USA,None,Alexander Black,Alexander Black,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,5.9,1,2,6.0,6.2,https://www.imdb.com/title/tt0000009
1,tt0000574,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,6.3,7,7,6.2,6.1,https://www.imdb.com/title/tt0000574
2,tt0001892,Den sorte drøm,1911,Drama,53,"Germany, Denmark",unavailable,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini","Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,6.0,5,2,5.7,5.9,https://www.imdb.com/title/tt0001892
3,tt0002101,Cleopatra,1912,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,5.3,25,3,5.9,5.1,https://www.imdb.com/title/tt0002101
4,tt0002130,L'Inferno,1911,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,6.9,31,14,7.2,7.0,https://www.imdb.com/title/tt0002130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85849,tt9906644,Manoharam,2019,"Comedy, Drama",122,India,Malayalam,Anvar Sadik,unavailable,"Vineeth Sreenivasan, Aparna Das, Basil Joseph,...",Manoharan is a poster artist struggling to fin...,6.8,7.2,9,1,7.3,6.7,https://www.imdb.com/title/tt9906644
85850,tt9908390,Le lion,2020,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,"Alexandre Coquelle, Matthieu Le Naour","Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,5.5,unavailable,4,6.0,5.3,https://www.imdb.com/title/tt9908390
85851,tt9911196,De Beentjes van Sint-Hildegard,2020,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,"Radek Bajgar, Herman Finkers","Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,7.9,6,4,7.6,7.8,https://www.imdb.com/title/tt9911196
85853,tt9914286,Sokagin Çocuklari,2019,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,"Ahmet Faik Akinci, Kasim Uçkan","Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",unavailable,6.4,9.4,unavailable,unavailable,4.0,3.1,https://www.imdb.com/title/tt9914286
85854,tt9914942,La vida sense la Sara Amat,2019,Drama,74,Spain,Catalan,Laura Jou,"Coral Cruz, Pep Puig","Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,6.8,unavailable,2,6.9,6.6,https://www.imdb.com/title/tt9914942

In [69]:
pip install urllib3

Requirement already satisfied: urllib3 in e:\anaconda\lib\site-packages (1.25.9)
Note: you may need to restart the kernel to use updated packages.

In [70]:
import urllib3

In [74]:
images = []
for i in ddf['link']:
    r = requests.get(i)
    soup = BeautifulSoup(r.content, "html.parser")
    link = soup.find(itemprop="image")
    if link is None:
        images.append(np.nan)
    else:
        images.append(link.attrs['src'])

KeyboardInterrupt:

In [66]:
images = []
for i in ddf['imdb_title_id']:
    film_id = i
    url = 'http://www.imdb.com/title/' + (film_id)
    r = requests.get(url)
    soup = BeautifulSoup(r.content, 'html5lib')
    link = soup.find(itemprop="image")
    if link is None:
        img.append(np.nan)
    else:
        img.append(link.attrs['src'])

KeyboardInterrupt:

[nan]

In [37]:
ddf.to_csv('data/cleaned.csv', index = False)